@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Readex+Pro&display=swap");

.x {
	border: 1px solid red;
}

/* Bootstrap Classes */
.link {
	text-decoration: none;
	color: #00FFFF;
}
.link:hover {
	text-decoration: none;
	color: #99FFFF;
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 1px;
}
body::-webkit-scrollbar-track {
	background: #0e1111;
}
body::-webkit-scrollbar-thumb {
	background: #888;
}
body::-webkit-scrollbar-thumb:hover {
	background: #0e1111;
}

body {
	font-family: "Readex Pro";
	color: white;
}

h1 {
	padding: 60px;
	color: black;
	font-family: "Poppins";
}
h1 > span:first-child {
	font-size: 1rem;
	position: relative;
	bottom: -4px;
}
h1 > span:last-child {
	position: relative;
	top: -4px;
}

.bg-image {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1000;
}

.categories-container {
	padding: 0 20px;
}

.category-card {
	width: 250px;
	height: 250px;
	transition: 0.5s ease;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
.category-card .card-body {
	display: flex;
	padding: 0;
}
.category-card .card-title {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	align-self: flex-end;
	padding: 16px;
	margin-bottom: 0;
	font-size: 1.3rem;
}

.category-card:hover {
	transform: scale(1.1);
}

.info {
	width: 60vw;
	margin: calc(100px - 16px) auto 100px auto;
	background-color: #050505cc;
	padding: 30px;
	font-size: 0.95rem;
}

footer {
	background-color: #0505057F;
	margin-top: 100px;
}
footer > div:first-child {
	padding: 15px;
	font-size: 0.85rem;
}
footer > div:last-child {
	background-color: #0f0f0f;
	padding: 5px;
	padding-bottom: 3px;
	font-size: 0.8rem;
}
footer h4 {
	font-size: 1.2rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	h1 {
		font-size: 2.5rem;
	}
	.info {
		width: 80vw;
	}
	footer > div:first-child {
		font-size: 0.7rem;
	}
	footer > div:last-child {
		font-size: 0.65rem;
	}
	footer h4 {
		font-size: 1rem;
	}
}
